<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Using NLP to evaluate news articles</title>
    </head>
    <body>
        <header>
            <div class="header">
                Evaluating News Articles
            </div>
            <div class="title">
                <h2>Aylien API</h2>
                <p>AYLIEN leverages Artificial Intelligence to empower thousands of forward-thinking enterprises and developers to collect, analyze, and understand vast amounts of human-generated content.</p>
            </div>
        </header>
        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="url_main" type="text" name="input" value="" placeholder="Enter a URL">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            <section>

            <section id="return">
                <strong>Form Results:</strong>
                <div id="results">
                    <div id="polarity">Polarity: </div>
                    <div id="subjectivity">Subjectivity: </div>
                    <div id="confidence">Confidence</div>
                    <div id="text">Text: </div>
                </div>
            </section>
        </main>

        <footer>
            <p><u>Udacity NLP Project Four</u></p>
        </footer>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>
